.ActorCard {

    width: 150px;
    height: 250px;
  
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.actorCardImg {

    object-fit: cover;
    height: 80%;
    width: 100%;
    
}
